
#color{
    
    background-color: rgb(12, 12, 16);
    height: 50px;
    width: 200px;
    border: 2px solid rgb(247, 5, 33);
    text-align: center;
    color: cornsilk;
    box-shadow: rgb(240, 0, 0);
    border-radius: 10px;
    box-shadow: -1px 10px 38px 5px rgb(226, 13, 73);
    
   
}
.gradient{
    color: rgb(255, 0, 34);
}
.l1{
    color: aliceblue;
    height: 150px;
    background-image: linear-gradient(to left , blue ,skyblue ,aqua);
}
.l2{
    color: aliceblue;
    height: 150px;
    background-image: linear-gradient(rgb(255, 0, 0) 6%,rgb(135, 235, 165)60%,rgb(255, 0, 132));

}
.l3{
    color: aliceblue;
    height: 150px;
    background-image: linear-gradient(rgb(0, 255, 30) ,rgb(19, 169, 228) ,rgb(221, 255, 0));
}
.l4{
    color: aliceblue;
    height: 150px;
    background-image: linear-gradient(rgb(23, 23, 25) ,rgb(225, 14, 236) ,rgb(255, 208, 0));
}
.radial{
    color: rgb(218, 218, 231);
    text-align: center;
    height: 200px;
    border: 2px solid;
    background-image: radial-gradient(rgb(32, 32, 21),rgb(190, 231, 9),red);

}